* {
  box-sizing: border-box;
}

body {
 
  /* background: linear-gradient(110deg, #ccddff 60%, #00e6ac 60%); */
  background-image: url("./images/nes.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  color: goldenrod;
  margin: 0;
  text-align: center;
  
}

.none{
  display: none;
}

@font-face {
  font-family: 'sayno';
  src: url('./font/say.woff2') format('woff2'),
  url('./font/sayNo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zero';
  src: url('./font/zer.woff2') format('woff2'),
  url('./font/zero.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press';
  src: url('./font/press.woff2') format('woff2'),
  url('./font/Press.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press1';
  src: url('./font/press1.woff2') format('woff2'),
  url('./font/Press1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zig';
  src: url('./font/zig.woff2') format('woff2'),
  url('./font/Zig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title1{
  font-family: 'sayno';
  font-size: 30px;
  color: red;

}

.title2{
  font-family: 'zero';
  font-size: 30px;
  
}

.header-nav{
  font-family: 'press';
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(88, 94, 38);
    
}



.header-nav__list{
  
  font-size: 20px;
  display: inline-block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.generator{
  background-color: black;
}



.results{
  font-family: 'press1';
  margin-bottom: 7px;
  margin-left: 10px;
  float: left;
  z-index: 1;
  position: relative;
}


.home-img{
  width: 75%;
  height: 50%;
  
}

.history-container{
  font-family: 'press1';
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.history-container__box{
  padding: 10px;
  margin: 5px;
    border: 1px solid white;
    
    

}

.select-profile{
 width: 49%;
 float: left;
  
 
}

.add-profile{
  width: 49%;
 float: right;
 border-left: solid 2px white;
}



.footer{
  position: fixed;
  
  background-image: url("./images/footerr.jpg");
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  

  background-repeat: no-repeat;
 background-size: 100% 100%;

}

.button-images{
  display: flex;
  flex-direction: column;
  float: right;
}

.click-here{
  cursor: pointer;
      
      height: 200px;
      width: 200px;
    
      position: fixed;
      
      bottom: 0;
      right:5%;
      
      z-index: 1;

}

.save-button{
  cursor: pointer;
  
  height: 200px;
  width: 200px;
  position: fixed;
      
  bottom: 40%;
  right:5%;

 
}



.red-border{
  border: 3px solid red;
}

.red{
color: red;
}
.green{
color: green;
}





@media(min-width: 620px){
    
  .history-container{
    
    flex-direction: row;
    }

    .click-here{
      
          
          height: 240px;
          width: 240px;
        
    
    }
    
    .save-button{
     
      height: 240px;
      width: 240px;
     
    
    }

  


    .home-img{
      width: initial;
      height: initial;
      
    }
}

@media(min-width: 880px){

  .results{
    font-family: 'press1';
    margin-bottom: 7px;
    margin-left: 0px;
    float: none;
    text-align: center;
  }

  .save-button{
    cursor: pointer;
    
    
    height: 240px;
    width: 240px;
  
    position: fixed;
    /* right: 10%;
    bottom: 40%; */
    bottom: 0;
    left: 5%;
    z-index: 1;
   
  }

  

}

