* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(110deg, #ccddff 60%, #00e6ac 60%);
  margin: 0;
  text-align: center;
  
}



@font-face {
  font-family: 'sayno';
  src: url('./font/say.woff2') format('woff2'),
  url('./font/sayNo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zero';
  src: url('./font/zer.woff2') format('woff2'),
  url('./font/zero.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press';
  src: url('./font/press.woff2') format('woff2'),
  url('./font/Press.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press1';
  src: url('./font/press1.woff2') format('woff2'),
  url('./font/Press1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zig';
  src: url('./font/zig.woff2') format('woff2'),
  url('./font/Zig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title1{
  font-family: 'sayno';
  font-size: 30px;
  color: red;

}

.title2{
  font-family: 'zero';
  font-size: 30px
}

.header-nav{
  font-family: 'press';
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00e6ac;
}

.header-nav__list{
  
  font-size: 20px;
  display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.results{
  
  margin-bottom: 7px;
  margin-left: 10px;
  float: left;
}


.home-img{
  width: 75%;
  height: 55%;
  position: relative;
  bottom: 50px;
}

.history-container{
  font-family: 'press1';
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.history-container__box{
  padding: 10px;
  margin: 5px;
    border: 1px solid black;

}



.footer{
  position: fixed;
  display: flex;
  background-image: url("./images/footerr.jpg");
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;

  background-repeat: no-repeat;
 background-size: 100% 100%;

}

.click-here{
  cursor: pointer;
  
  height: 200px;
  width: 200px;

  float: right;
}






@media(min-width: 700px){
    
  .history-container{
    
    flex-direction: row;
    }


}